<%= form_for(@mini_pago) do |f| %>
  <% if @mini_pago.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mini_pago.errors.count, "error") %> prohibited this mini_pago from being saved:</h2>

      <ul>
      <% @mini_pago.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_pago %><br />
    <%= f.text_field :id_pago %>
  </div>
  <div class="field">
    <%= f.label :dni %><br />
    <%= f.text_area :dni %>
  </div>
  <div class="field">
    <%= f.label :folio %><br />
    <%= f.text_area :folio %>
  </div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :fecha_pago %><br />
    <%= f.date_select :fecha_pago %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
